/* ******************

      ROOT

****************** */

:root {
  --brand-color: #f2d356;
  --light-tint: #ecdc9d;
  --brand-shade: #ac953a;

  --main-font: "Rubik", sans-serif;
}

/* ******************

      RESET

****************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* ******************

      GENERAL COMPONENTS

****************** */

.container {
  max-width: 1200px;
}

.btn {
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 1.6rem;
  font-weight: 700;
  color: #555;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
}

.btn:link,
.btn:visited {
  background-color: #fff;
  border-radius: 1rem;
}

.btn:hover,
.btn:active {
  background-color: #333;
  color: #fff;
}

/* ******************

      HEADER SECTION

****************** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-tint);
  height: 9.6rem;
  padding: 0 4.8rem;
  position: fixed;
  width: 100%;
}

.logo {
  height: 7.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fff;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 7px;
  color: #fff;
  background-color: var(--brand-color);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #fff;
  transition: 200ms;
}

header.sticky {
  background: #000;
  transition: all 0.3s;
}

header.sticky .logo,
header.sticky .main-nav-link:link,
header.sticky .main-nav-link:visited {
  color: var(--brand-color);
}

header.sticky .main-nav-link:hover,
header.sticky .main-nav-link:active {
  color: #fff;
}

/* ******************

      HERO SECTION

****************** */

.section-hero {
  background-color: var(--light-tint);
  padding: 9.6rem 0;
}

.hero {
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero .container .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-textbox {
}

.hero-title {
  font-size: 4.8rem;
  margin-bottom: 2.8rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

/* ******************

      MENU SECTION

****************** */

.menu {
  min-height: 100vh;
}
